{% load static %} 
{% block title %}{{title}}{% endblock title %}

{% block contenido %}

<div class="modal fade" id="cambiarContraseñaModal" tabindex="-1" aria-labelledby="cambiarContraseñaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <div class="contrsenia">
                    <h1 class="modal-title fs-5" id="cambiarContraseñaModalLabel">Cambio de Contraseña</h1>
                </div>
                <div class="d-flex align-items-center">
                    <img src="{% static '/img/powerfullGymLogo-RedAndBlack-Full.png' %}" width="75" alt="logo">
                </div>
            </div>
            
            <div class="modal-body">
                <form class="row g-3 needs-validation" action="{% url 'cambiar_password' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages%}
                        <span class="alert alert-{{message.tags}}">{{message}}</span>
                        {% endfor %}
                    {% endif %}
            
                    <div class="col-md-12">
                        <label for="password1"  class="form-label" >Contraseña nueva</label>
                        <input id="check2" type="checkbox" onclick="togglePasswordNueva()">
                        <label class="check-label">mostrar</label>
                        <input type="password" id="nuevaPassword1" name="password1" value="{{ form.password.value | default:'' }}"
                        class="form-control" placeholder="Ingrese su contraseña nueva" oninput="verificarFortalezaNueva()" required/>
                        <span class="verificarPass"> 
                            <p id="mensajePassNuevo"></p>
                        </span>
                        <div class="error">{{form.password1.errors}}</div>
                    </div>
                    <div class="col-md-12">
                        <label for="password1"  class="form-label" >Repita la contraseña</label>
                        <input type="password" id="password2" name="password2" value="{{ form.password.value | default:'' }}"
                        class="form-control" placeholder="Reingrese su contraseña nueva" required/>
                        <div class="error">{{form.password2.errors}}</div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    /*------------- Mostrar contraseña -------------*/
  
    function togglePasswordNueva() {
      var password1 = document.getElementById("nuevaPassword1");
      var check = document.getElementById("check2");
      
      if (check.checked) 
        password1.type = "text";
      else
        password1.type = "password";
    }

    
  /*------------- Verificar fortaleza de contraseña -------------*/

  function verificarFortalezaNueva(){
        
    var contrasenia = document.getElementById("nuevaPassword1").value;
    var longitud = contrasenia.length;
    var mensaje = "";

    console.log("llega a fortaleza")
    
    if (longitud === 0) {
    mensaje = "";
    document.getElementById("mensajePassNuevo").style.backgroundColor = "white";
    } else if (longitud < 5) {
    mensaje = "La contraseña es muy débil. Debe tener al menos 8 caracteres.";
    document.getElementById("mensajePassNuevo").style.backgroundColor = "red";
    document.getElementById("mensajePassNuevo").style.color = "white";
    
    } else if (longitud >= 5 && longitud < 10) {
    mensaje = "La contraseña es moderada. Debe tener al menos 10 caracteres para ser más segura.";
    document.getElementById("mensajePassNuevo").style.backgroundColor = "orange";
    document.getElementById("mensajePassNuevo").style.color = "black";
    } else {
    mensaje = "La contraseña es fuerte. ¡Bien hecho!";
    document.getElementById("mensajePassNuevo").style.backgroundColor = "greenyellow";
    document.getElementById("mensajePass").style.color = "black";
    }

    document.getElementById("mensajePassNuevo").innerHTML = mensaje;
  
}
  
   </script>
 <script src="{% static 'gym/js/sing_up.js' %}"></script>  
{% endblock contenido %}
