{% extends 'administracion/base_administracion.html' %}
{% load static %}
{% block titulo %}Editar usuario{% endblock%}

{%block contenido %}

<h1 class="mt-4">Editar usuarios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'home_administracion' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Editar usuario</li>
</ol>

<div class="card">
    <div class="card-header">
        <div class="card-title">Editar Usuarios</div>
    </div>
    <div class="card-body">
          <form class="row g-3 needs-validation"  action=""  method="POST" novalidate >
            {% csrf_token %}
            <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="{{ form.nombre.value | default:'' }}"
              placeholder="Ingrese su nombre" required />
              <div class="invalid-feedback">Por favor, ingrese su nombre, el campo no puede estar vacio</div>
              <div class="valid-feedback">Correcto!</div>
              <div class="error">{{form.name.errors}}</div>
            </div>

            <div class="col-md-6">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="apellido" name="apellido" value="{{ form.apellido.value | default:'' }}"
                placeholder="Ingrese su apellido" required />
                <div class="invalid-feedback">Por favor, ingrese su apellido, el campo no puede estar vacio</div>
              <div class="valid-feedback">Correcto!</div>
              <div class="error">{{form.apellido.errors}}</div>
            </div>
            
            <div class="col-md-6">
              <label for="username" class="form-label">Usuario</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="username" name="username" value="{{ form.username.value | default:'' }}"
                  aria-describedby="inputGroupPrepend" placeholder="Ingrese su usuario" required />
                <div class="invalid-feedback">Por favor, elija un nombre de usuario</div>
                <div class="valid-feedback">Correcto!</div>
              </div>
              <div class="error">{{form.username.errors}}</div>
            </div>
            
            <div class="col-md-6">
              <label for="dni" class="form-label">DNI</label>
              <input type="number" class="form-control" id="documento" name="documento" value="{{ form.documento.value | default:'' }}"
                maxlength="8" placeholder="Ingrese su DNI" required />
              <div class="invalid-feedback">Por favor, escriba un número de DNI válido</div>
              <div class="valid-feedback">Correcto!</div>
              <div class="error">{{form.dni.errors}}</div>
            </div>
            
            <div class="col-md-12">
              <label for="email" class="form-label">Email</label>
              <input type="Email" class="form-control" id="email" name="email" value="{{ form.email.value | default:'' }}"
                placeholder="Ingrese su correo" required />
              <div class="invalid-feedback">Por favor, ingrese una casilla de correo válida</div>
              <div class="valid-feedback">Correcto!</div>
              <div class="error">{{form.email.errors}}</div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="{% url 'listar_usuarios' %}" >Cancelar</a>
              <button type="submit" class="btn btn-danger">Confirmar</button>
            </div>
          </form>
        </div>
        </div>
  <script src={% static 'gym/js/sign_up.js' %}></script>
{% endblock contenido %}
