{% extends 'administracion/base_administracion.html' %}



{% block titulo %}Eliminar usuario{% endblock%}


{% block contenido %}
<h1 class="mt-4">Eliminar Usuario</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'listar_usuarios' %}">Lista de Usuarios</a></li>
    <li class="breadcrumb-item active">Eliminar usuario</li>
</ol>


<div class="card">
    <div class="card-header">Eliminacion de usuario</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>Esta seguro que quiere eliminar al usuario "{{ object.username }}"?</p>
            <input type="submit" value="Confirmar" class="btn btn-danger">
            <a class="btn btn-secondary" href="{% url 'listar_usuarios' %}" >Cancelar</a>

        </form>
        
    </div>
</div>
{% endblock %}