{% comment %} {% extends 'administracion/base_administracion.html' %} {% endcomment %}
{% load static %} 
{% block titulo %}{% endblock%}

{% block contenido %}

 <!-- Modal para eliminar cuenta -->
 <div class="modal fade" id="eliminarCuentaModal" tabindex="-1" aria-labelledby="eliminarCuentaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <div class="cuenta">
                    <h1 class="modal-title fs-5" id="eliminarCuentaModalLabel">Eliminar Cuenta</h1>
                </div>
                <div class="d-flex align-items-center">
                    <img src="{% static '/img/powerfullGymLogo-RedAndBlack-Full.png' %}" width="75" alt="logo">
                </div>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <p>¿Está seguro que quiere eliminar su cuenta, "{{ object.nombre }} {{ object.apellido }}"?</p>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

{% endblock %}