<div class="card">
    <div class="card-header">
        <h3>Filtros</h3>
    </div>
    <div class="card-body">
        <!-- <form action="/index/" method= "GET"> -->
        <form action="" method= "GET">
            <div class="row">
                <div class="col-3">
                    <div class="md-form mb-0">
                        <label for="name" class="">Apellido</label>
                        
                        <input type="text" 
                            id="apellido" 
                            name="apellido"
                            placeholder="Ingrese el apellido" 
                            class="form-control">
                    </div>
                </div>
                <div class="col-3 ">
                    <button class="btn btn-primary mt-4" type="submit">Buscar</button>
                    <!-- <a name="" id="" class="btn btn-success" href="{% url 'tipo_de_actividad_index_view' %}" role="button"> <i class="fa-solid fa-circle-plus"></i>Buscar</a> -->
                </div>
            </div>
        </form>
    </div>
</div>