<!-- permite la edición del tipo de actividad -->
{% extends '../base_administracion.html' %}

{% block titulo %}Editar datos del profesor{% endblock%}

{% block contenido %}
<h1 class="mt-4">Profesores</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'home_administracion' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Editar datos del profesor</li>
</ol>

<div class="card">
    <div class="card-header">Editar datos del profesor</div>
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'administracion/profesor/form.html' %}
        </form>
    </div>
</div>
{% endblock %}