
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  
  /* Padding below the footer and lighter body text */
  
  body {
    padding-top: 6.5rem;
    padding-bottom: 5rem;
  }

  .mainContainer{
    background-color: rgb(238, 218, 218);
    height: calc( 100vh - 11.5rem);
    position: relative;
    display: flex;
    align-items: center;
  }
