{% for campo in form %}
    <!-- <div class="form-group"> -->

        <!-- <div class="col-md-12">
            <div class="md-form mb-2"> -->
                <div class="form-group">
                <label for="" class="form-label">{{campo.label}}</label>
                
                <input
                    type="{{campo.field.widget.input_type}}" 
                    name="{{campo.name}}" 
                    id="{{campo.name}}"
                    class="form-control"
                    placeholder="Ingrese {{campo.name}}"
                    value="{{ campo.value | default:'' }}"
                >
                {% comment %}
                {{campo}}
                {% endcomment %}    
                
                {% if campo.name == 'imagen_de_portada' %}
                    <p>{{campo.name}} valor actual: {{campo.value}} - {{campo.field.widget.input_type}}</p>
                {% endif %}
            </div>
    <!-- </div> -->
                <div>{{campo.errors}}</div>
            <!-- </div>
        </div> -->
{% endfor %}

<div class="row mt-3">
    <div class="col-12">
        <input type="submit" value="Guardar" class="btn btn-success">
        <a href="{% url 'tipo_de_actividad_index_view' %}" class="btn btn-secondary">Cancelar</a>        
    </div>
</div>