<header >
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'gym/css/navbar.css' %}">  -->
    <nav class="navbar navbar-expand-md fixed-top bg-white">
      <div class="container-fluid">
        
        <a class="navbar-brand d-flex flex-column"  href="{% url 'home' %}">
          <img src="{% static '/img/powerfullGymLogo-RedAndBlack-Full.png'%}" height="40px" width="auto" alt="Logo de Powerful Team">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0 mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tipo_de_actividad_index_view' %}">Tipos de Actividad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profesor_index_view' %}">Profesores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href= "{% url 'cliente_index_view' %}" tabindex="-1" aria-disabled="true">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listar_usuarios' %}" tabindex="-1" aria-disabled="true">Lista de usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listar_mensajes' %}" tabindex="-1" aria-disabled="true">Mensajes recibidos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'admin:index' %}" tabindex="-1" aria-disabled="true">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gymadmin:index' %}" tabindex="-1" aria-disabled="true">Admin GYM</a>
           </li>
          </ul>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"aria-expanded="false" >
              {% if user.imagen %}
                <img src="{{ user.imagen.url }}" alt="perfil" width="50" class="rounded-circle" id="user-image" />
              {% else %}
                <img src="{% static '/img/predeterminada.png' %}" alt="perfil" width="50" class="rounded-circle" id="user-image" />
              {% endif %}
           </a>
            <p>Hola {{user.username}}</p>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="{% url 'perfil_usuario' user.id %}">Perfil</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a >
              </li>
            </ul>
          </div>
                   
        </div>
      </div>
    </nav>
  </header>
  
  